<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recipe</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body>


	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Recipe Management System</h1>
			
		</div>
		<div class="row text-center text-lg-left">

			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/originals/e8/dc/7f/e8dc7f0b59b8602ba30621dee3c6291c.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/736x/40/79/57/4079573c7bccbe8c924a05df57300821.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/originals/2c/29/f0/2c29f0675f2d67d4643bd0a3fef6e52b.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/originals/af/83/49/af8349c33cc194911e3870097f79b0d5.jpg"
					alt="">
				</a>
			</div>
		</div>
		<div class="row text-center text-lg-left">

			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/474x/1e/5b/59/1e5b593cef83543fb43af77194804e1f.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/736x/ba/68/55/ba68555ae362879a9b4c5b8ffafcd599.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/736x/92/cc/13/92cc1377bccc6a4a79ee031b194a4275.jpg"
					alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100"> <img
					class="img-fluid img-thumbnail"
					src="https://i.pinimg.com/originals/c1/ae/40/c1ae40639edf256716b61409a056a56e.jpg"
					alt="">
				</a>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:href="@{/js/bootstrap.js}"></script>
</body>
</html>